.sidebar {
  background: #393C3F;

  &__list {
    color: var(--color-white);
    font-size: 24px;
  }

  &__link {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    padding: 15px;
    min-width: 16rem;
    cursor: pointer;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background: #000;
    }
  }

  &__link--active {
    &::before {
      width: 100%;
    }
  }

  &__item-text {
    z-index: 10;
  }
}
