.comment {
  display: flex;
  flex-direction: column;
  color: #000;

  &:not(:last-child){
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 24px;
  }

  &__body {
    font-size: 18px;
  }

  &__email {
    font-size: 1.4rem;
    text-align: right;
    font-style: italic;
  }
}